<!-- summary -->
<div id="index">
    {{> summ}}
</div>

<!-- Plantas -->
<div id="plantas">
    {{> plantas}}
</div>

<!-- Estacion -->
<div id="estacion">
    {{> estacion}}
</div>

<!-- Bases -->
<div id="bases">
    {{> bases}}
</div>