 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Planta Fotovoltaica LABE</h1>

          <div class="row">
                <!-- Temperatura Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura [°C] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabTempInv1">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        <!--  Frecuencia Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Frecuencia [Hz] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabFrecInv1">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Inv -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 1 </h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv1"></canvas>
              </div>
            <hr>
            </div>
          </div>


                    <div class="row">
                <!-- Temperatura Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura [°C] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabTempInv2">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        <!--  Frecuencia Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Frecuencia [Hz] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabFrecInv2">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Inv -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 2</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv2"></canvas>
              </div>
            <hr>
            </div>
          </div>

                    <div class="row">
                <!-- Temperatura Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura [°C] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabTempInv3">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        <!--  Frecuencia Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Frecuencia [Hz] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabFrecInv3">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
          <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 3</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv3"></canvas>
              </div>
            <hr>
            </div>
          </div>


          <div class="row">
                <!-- Temperatura Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura [°C] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabTempInv4">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        <!--  Frecuencia Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Frecuencia [Hz] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabFrecInv4">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 4</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv4"></canvas>
              </div>
            <hr>
            </div>
          </div>

                    <div class="row">
                <!-- Temperatura Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura [°C] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabTempInv5">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        <!--  Frecuencia Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Frecuencia [Hz] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabFrecInv5">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>







                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 5</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv5"></canvas>
              </div>
            <hr>
            </div>
          </div>





                    <div class="row">
                <!-- Temperatura Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura [°C] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabTempInv6">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        <!--  Frecuencia Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Frecuencia [Hz] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabFrecInv6">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 6</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv6"></canvas>
              </div>
            <hr>
            </div>
          </div>

                    <div class="row">
                <!-- Temperatura Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura [°C] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabTempInv7">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-temperature-low fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        <!--  Frecuencia Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Frecuencia [Hz] </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center " id="pltLabFrecInv7">00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 7</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv7"></canvas>
              </div>
            <hr>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

  </div>
  <!-- End of Page Wrapper -->


   <!-- Page level plugins -->
      <script src="vendor/chart.js/Chart.min.js"></script>

      <!-- Page level js -->
      <script src="js/pltLabeData.js"></script>