 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Planta Fotovoltaica LABE</h1>

          <!-- Inv -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 1 </h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv1"></canvas>
              </div>
            <hr>
            </div>
          </div>
          
          <!-- Inv -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 2</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv2"></canvas>
              </div>
            <hr>
            </div>
          </div>
          
          
          
          <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 3</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv3"></canvas>
              </div>
            <hr>
            </div>
          </div>

                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 4</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv4"></canvas>
              </div>
            <hr>
            </div>
          </div>

                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 5</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv5"></canvas>
              </div>
            <hr>
            </div>
          </div>


                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 6</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv6"></canvas>
              </div>
            <hr>
            </div>
          </div>

                    <!-- Chart -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Inversor 7</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="pltLabeInv7"></canvas>
              </div>
            <hr>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

  </div>
  <!-- End of Page Wrapper -->


   <!-- Page level plugins -->
      <script src="vendor/chart.js/Chart.min.js"></script>

      <!-- Page level js -->
      <script src="js/pltLabeData.js"></script>