        <div class="weather">
                <h3 class="uni">Tiempo Acutal</h3>
                <hr/>
                <h2 class="vl">Temperatura</h2>
                <h2 class="vl" id='weaTemp'></h2>
                <h2 class="vl">Humedad</h2>
                <h2 class="vl" id='weaHum'></h2>
                <h2 class="vl">Presion</h2>
                <h2 class="vl" id='weaPres'></h2>
                <h2 class="vl">Hora</h2>
                <h2 class="vl" id='weaDate'></h2>
        </div>